**************************************************
*                                                *
* DRILL TAPE SUMMARY REPORT                      *
*                                                *
* C:\MEUS DOCUMENTOS\PROJETOS\DRIVE M,PASSO.MAX  *
* Sun May 06 17:04:31 2001                       *
*                                                *
**************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       31       8        200      100                                                                                 
T2       34       34       200      100                                                                                 
T3       35       18       200      100                                                                                 
T4       67       20       200      100                                                                                 
T5       70       10       200      100                                                                                 
